.team {
    width: 300px;
    float: left;
}

.teams-group {
    overflow: hidden;
    float: left;
}

.vs {
    font-size: 26px;
    padding: 20px;
    padding-top: 27px;
    display: block;
    float: left;
}

select {
    border-radius: 0;
}

.btn {
    float: left;
    margin-top: 32px;
    margin-left: 10px;
}