<div class="picture-area"  [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.49), transparent), url(' + arenaInfo.url + ')'}">
    <span class="card-type" style="color: white;">ARENA</span>
    <span class="name">{{arenaInfo.name}} </span>
</div>
<div class="info-card" style="margin-top: 0px">
    <div>
        <table style="margin-top: 12px;">
            <tr>
                <td><fa-icon [icon]="'location-arrow'"></fa-icon> Adresse</td>
                <td>{{arenaInfo.adresse}}, {{arenaInfo.plz}} {{arenaInfo.ort}}</td>
            </tr>
            <tr>
                <td><fa-icon [icon]="'users'"></fa-icon> Kapazität</td>
                <td>{{arenaInfo.capacity}} Personen</td>
            </tr>
        </table>
    </div>
</div>