<div class="info-card">
    <span class="card-type">PLAYER</span>
    <div style="float:left;width: 150px;">
        <div style="height: 150px;background-size: cover;margin-bottom: 12px;" [ngStyle]="{'background-image': 'url(' + 'https://ticktack.blob.core.windows.net/ybpictures/' + playerInfo.firstName + '_' + playerInfo.lastName + '.png' + ')'}">
             
        </div>
        <span class="font-weight-light" style="font-size: 31px;display: block;text-align: center;">{{playerInfo.nummer}}</span>
    </div>
    <div style="float:left;padding-left: 25px;">
        <span class="name">{{playerInfo.firstName}} {{playerInfo.lastName}} </span> <span class="font-weight-light"> / 
            <span *ngIf="playerInfo.position == '1'">Torwart</span>
            <span *ngIf="playerInfo.position == '2'">Verteidiger</span>
            <span *ngIf="playerInfo.position == '3'">Mittelfeldspieler</span>
            <span *ngIf="playerInfo.position == '4'">Stürmer</span>
        </span>
        <table style="margin-top: 12px;">
            <tr>
                <td><fa-icon [icon]="'running'"></fa-icon> Gespielte Matches</td>
                <td>{{playerInfo.matches}} ({{playerInfo.gespielteMinuten}} min)</td>
            </tr>
            <tr [class.markRow]="playerInfo.action == 'goalScored'">
                <td><fa-icon [icon]="'futbol'"></fa-icon> Tore</td>
                <td>{{playerInfo.tore}} ({{playerInfo.assists}} Assists)</td>
            </tr>
            <tr [class.markRow]="playerInfo.action == 'redCard'">
                <td><fa-icon class="text-danger" [icon]="'clipboard'"></fa-icon> Karten</td>
                <td>{{playerInfo.roteKarten}}</td>
            </tr>
            <tr [class.markRow]="playerInfo.action == 'yellowCard'">
                <td><fa-icon class="text-warning" [icon]="'clipboard'"></fa-icon> Karten</td>
                <td>{{playerInfo.gelbeKarten}}</td>
            </tr>
            <tr *ngIf="playerInfo.gehalteneSchuesse > 0">
                <td><fa-icon [icon]="'hand-paper'"></fa-icon> Gehaltene Schuesse</td>
                <td>{{playerInfo.gehalteneSchuesse}}</td>
            </tr>
            <hr>
            <tr>
                <td><fa-icon [icon]="'globe-americas'"></fa-icon> Nationalität</td>
                <td>{{playerInfo.nationalitaet}}</td>
            </tr>
            <tr>
                <td><fa-icon [icon]="'birthday-cake'"></fa-icon> Geburtsdatum</td>
                <td>{{playerInfo.geburtsdatum}}</td>
            </tr>
        </table>
    </div>
</div>