<div class="info-card">
    <span class="card-type">PLAYER</span>
    <img style="float:left; height: 110px;" src="https://ticktack.blob.core.windows.net/ybpictures/{{playerInfo.firstName}}_{{playerInfo.lastName}}.png"> <span class="name" style="float:left;">{{playerInfo.firstName}} {{playerInfo.lastName}}</span>
    <table>
        <tr>
            <td>Nummer</td>
            <td>{{playerInfo.nummer}}</td>
        </tr>
        <tr>
            <td>Gespielte Matches</td>
            <td>{{playerInfo.matches}}</td>
        </tr>
        <tr>
            <td>Karten</td>
            <td>{{playerInfo.matches}}</td>
        </tr>
        <tr>
            <td>Karten</td>
            <td>{{playerInfo.matches}}</td>
        </tr>
    </table>
</div>