.name {
    font-size: 24px;
}

td {
    padding: 3px;
    padding-right: 20px;
}

tr {
    padding: 2px;
}

.markRow {
    background-color: #cde0ff;
    transition: background-color 2s;
}

.sub-title {
    width: 100%;
    color: #d2d2d2;
    display: block;
    margin: 15px 0px;
}


td span {
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 25px;
}

.lastGames {
    width: 100%;
}

.lastGames tr {
    border-top: 1px solid #eaeaea;
}

.lastGames td.team {
    text-align: center;
}