/* You can add global styles to this file, and also import other style files */

$body-bg: #f8f8f7;
$yellow: #ffcf00;
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    color: #4a4a4a;
}

.btn {
    border-radius: 0;
}

.info-card {
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    overflow: hidden;
    min-height: 120px;
}

.card-type {
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: #d2d2d2;
    margin-top: 2px;
    width: 100%;
    text-align: right;
}