<div class="container-fluid body-content">
    <div class="header">
        <h1 style="float: left;margin-top: 20px;" class="font-weight-light">TickTack</h1>
        <div *ngIf="homeTeam && guestTeam" class="teams">
            <div class="team-vs">
                <p>{{homeTeam.name}}</p>
                <img src='{{homeTeam.image}}'>
            </div>
            <a class="vs">vs</a>
            <div class="team-vs">
                <p>{{guestTeam.name}}</p>
                <img src='{{guestTeam.image}}'>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="started">
        <div class="col-md-6 ticker-col">
            <div class="ticker-compose">
                <span class="col-title font-weight-bold">TICKER</span>
                <textarea (keyup)="processMessage()" (keydown.tab)="applyAutocompte($event)" [(ngModel)]="message"
                    class="ticker" placeholder="Type your message here..."></textarea>
                <button style="float:right;" class="btn btn-warning" (click)="addPost()">Publish</button>
                <p>{{suggestedText}}</p>
            </div>
            <div class="ticker-history">
                <span class="col-title font-weight-bold">TICKER HISTORY</span>
                <div class="history" style="width: 100%;">
                    <div class="history-item" *ngFor="let item of posts">
                        <div class="hi-header">
                            <fa-icon icon="user"></fa-icon> Editor <span style="float:right;">{{item.date | date:
                                'dd.MM.yy, HH:mm:ss'}}</span>
                        </div>
                        {{item.message}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 info-col">
            <span class="col-title font-weight-bold">INFOS</span>
            <app-last-matches *ngIf="lastMatches.length > 0" [lastMatches]="lastMatches"></app-last-matches>
            <div *ngIf="!tickerInfos.wurst">
                <div *ngFor="let info of tickerInfos">
                    <app-player-card [playerInfo]="info" *ngIf="info.type == 'player'"></app-player-card>
                    <app-arena-card [arenaInfo]="info" *ngIf="info.type == 'arena'"></app-arena-card>
                    <app-club-card [clubInfo]="info" *ngIf="info.type == 'club'"></app-club-card>
                    <app-goal-card [goalInfo]="info" *ngIf="info.type == 'goal'"></app-goal-card>
                    <app-card-card [cardInfo]="info" *ngIf="info.type == 'card'"></app-card-card>
                </div>
            </div>
            <div *ngIf="tickerInfos.wurst">
                <div class="picture-area" style="height: 310px;" [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.49), transparent), url(https://footballmarketingdottv.files.wordpress.com/2014/09/photo-2.jpg)'}">
                    <span class="card-type" style="color: white;">DELIKATESSE</span>
                    <span class="name" style="font-size: 24px;">YB-Wurst</span>
                </div>
                <div class="info-card" style="margin-top: 0px">
                    <div>
                        <table style="margin-top: 12px; width: 100%;">
                            <tr>
                                <td><fa-icon [icon]="'industry'"></fa-icon> Produzent</td>
                                <td>Migros (seit 2018)</td>
                            </tr>
                            <tr>
                                <td><fa-icon [icon]="'cubes'"></fa-icon> Beilagen</td>
                                <td>Senf & Brot</td>
                            </tr>
                            <tr>
                                <td><fa-icon [icon]="'utensils'"></fa-icon> Geschmack</td>
                                <td>Unvergesslich</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!started" style="margin:auto;">
        <app-match (gameStarted)="gameStarted($event)"></app-match>
    </div>
</div>