<div class="container-fluid body-content">
    <div class="header">
        <h1 style="float: left;margin-top: 20px;" class="font-weight-light">TickTack</h1>
        <app-match style="float: right;" (gameStarted)="gameStarted($event)" ></app-match> 
    </div>
    <div class="row">
        <div class="col-md-6 ticker-col">
            <div class="ticker-compose">
                <span class="col-title font-weight-bold">TICKER</span>
                <textarea (keyup)="processMessage()" (keydown.tab)="applyAutocompte($event)" [(ngModel)]="message" class="ticker" placeholder="Type your message here..."></textarea>
                <button style="float:right;" class="btn btn-warning" (click)="addPost()">Publish</button>
                <p>{{suggestedText}}</p>
            </div>
            <div class="ticker-history">
                <span class="col-title font-weight-bold">TICKER HISTORY</span>
                <div class="history" style="width: 100%;">
                    <div class="history-item" *ngFor="let item of posts">
                        <div class="hi-header">
                            <fa-icon icon="user"></fa-icon> Editor <span style="float:right;">{{item.date | date:
                                'dd.MM.yy, HH:mm:ss'}}</span>
                        </div>
                        {{item.message}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 info-col">
            <span class="col-title font-weight-bold">INFOS</span>
            <div *ngFor="let info of tickerInfos">
                <app-player-card [playerInfo]="info" *ngIf="info.type == 'player'"></app-player-card>
                <app-arena-card [arenaInfo]="info" *ngIf="info.type == 'arena'"></app-arena-card>
            </div>
        </div>
    </div>
</div>