<!-- 
<fa-icon icon="coffee"></fa-icon> -->
<div class="container-fluid body-content">
    <div class="header">
        <h1 class="font-weight-light">TickTack</h1>
    </div>
    <div class="row">
        <div class="col-md-6 ticker-col">
            <span class="col-title font-weight-bold">TICKER</span>
            <textarea class="ticker" placeholder="Type your message here..."></textarea>
            <button style="float:right;" class="btn btn-warning">Publish</button>
        </div>
        <div class="col-md-6 info-col">
            <span class="col-title font-weight-bold">INFOS</span>
            <div class="info-card"></div>
        </div>
    </div>
</div>
